			<div class="text-center col-md-8 col-md-offset-2" style="background:white">
			<div id="logo">
				<img src="">
			</div>
			<div id="intro">
				<img src="../static/images/logo/logo.png" width="40%" height="40%">
				<p><span>Ever want to play with kitten RIGHT THIS INSTANT?</span></p>
				<p>Now you can with Rent-A-Kitten</p>
				<p>Brighten up your day and others around you with a few clicks.</p><br/>
					<a href="#/display" class="btn btn-info text-center" style="margin-bottom: 20px; font-size: 1.3em"> Learn More </a>
				</div>
				</div>
