
<fieldset ng-controller="PersonController">
  <form >

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 10px">
          <strong>Put the question and options here: </strong>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 well-margin" style="margin-top: 10px">
          <form name="questionForm">
            <label for="question">Question:</label>
            <input type="text" ng-model="poll.question" id="question"> <br><br>

            <label for="option1">Option1:</label>
            <input type="text" ng-model="poll.option1" id="option1"> <br>

            <label for="option2">Option2:</label>
            <input type="text" ng-model="poll.option2" id="option2"> <br>

            <label for="option3">Option3:</label>
            <input type="text" ng-model="poll.option3" id="option3"> <br>

            <label for="option4">Option4:</label>
            <input type="text" ng-model="poll.option4" id="option4"> <br> <br>

            <a href="" ng-click="createPoll()">Create poll  |  </a>
            <a href="#/current">Cancel</a>

          </form>

          <!--
          <div ng-messages="userForm.error_firstname.$error">
            <p ng-message="minlength">The player name is too short.</p>
            <p ng-message="required">The player name is required.</p>
          </div>
          -->
        </div>


      </div> <!-- End class row -->


  </form>


</fieldset>
